<div class="w3-container p-4" id="about">
    <h3 class="border-bottom border-light p-3">About</h3>
</div>

<div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">Place 1</div>
            <img src="images/products/1.jpg" alt="" style="width:100%">
        </div>
        <h3>Place 1</h3>
        <p class="text-black-50">ABC information blablo</p>
        <p>Welcome to here!</p>
        <p><a class="btn btn-light w3-block" href="informationto...">Contact</a></p>
        </div>
    </div>
</div>