<div class="w3-container p-4" id="products">
    <h3 class="border-bottom border-light p-3">Places</h3>
</div>

<div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">Vinh Bai Tu Long</div>
            <img src="images/products/1.jpg" alt="" style="width:100%">
        </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">Dao Titop</div>
            <img src="images/products/2.jpg" alt="" style="width:100%">
        </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">Hang Luon</div>
            <img src="images/products/3.jpg" alt="" style="width:100%">
        </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">Dong Thien Cung</div>
            <img src="images/products/4.jpg" alt="" style="width:100%">
        </div>
    </div>
</div>